main {
    display: flex;
    
    align-items: center;
}
.timer {
    font-size: 50px;
    margin: 40px;
}
.recordTime {
    font-size: 50px;
    margin: 40px;

}
button  {
    font-size: 50px;
    width: 200px;
    height: 220px;
    border-radius: 100%;
    margin: 20px;
}
